<div>
    <label for=<%= typeof type != "undefined" ? type: "text"  %> ><%= typeof label != "undefined" ? label: "Text"  %></label>
    <input type=<%= typeof type != "undefined" ? type: "text"  %>  id=<%= typeof type != "undefined" ? type: "text"  %>  name=<%=  typeof submitName != "undefined" ? submitName: "userinput"%>  />
  </div>